.mid-nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
}

.mid-nav-title {
  font-size: 18px;
  font-weight: bold;
  color: #00462a;
}

.back-icon {
  width: 16px;
  height: auto;
}
