.CompleteDetail-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.CompleteDetail-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.complete-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.complete-group {
  display: block;
  width: 400px;
  height: auto;
  margin: auto;
}

.info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.info-progress-container {
  position: relative;
  margin: 20px 0;
}

.info-progress-bar {
  background-color: #eee;
  border-radius: 4px;
  width: 100%;
  height: 20px;
}

.info-progress {
  background-color: #006540;
  height: 100%;
  border-radius: 4px;
}

.info-progress-container {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.info-progress-container.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.info-participants {
  position: absolute;
  background-color: #006540;
  color: white;
  height: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  width: 370px;
}

.CompleteDetail-info {
  width: 400px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  margin: 20px 0;
}

.petition-result {
  border: 1px solid #c9dad3;
  background-color: #f7f7f7;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
}

.result-row {
  display: flex;
  margin: 8px 0;
}

.result-label {
  flex: 1;
  font-weight: bold;
  color: #333;
}

.result-content {
  flex: 3;
  color: #666;
}

.petition-subtitle {
  margin: 10px 0;
  font-weight: bold;
  color: #006540;
  padding: 10px 10px;
  text-align: center;
}
