.p4-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.p4-main-login-holder {
  max-width: 500px;
  min-width: 400px;
  //background-color: white;
  padding: 20px;
}
.button-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.button-item {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;
  background-color: #fff;
}

.left {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 25px;
}

.content {
  font-size: 12px;
}

.right {
  margin-left: auto;
}

.right .checkmark-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: transparent;
}

.right .checkmark-container.checked {
  border-color: green;
  background-color: green;
}

.right .checkmark {
  display: none;
}

.right .checkmark-container.checked .checkmark {
  display: block;
  color: white;
}

.submit-button {
}
