.petition-footer {
  //position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #004712;
  color: white;
  text-align: left;
  padding: 10px 0;
}

.myFoot {
  margin: 50px 0px 10px 20px;
}

.contact-info,
.rights {
  display: block;
  margin: 5px 0;
}

address {
  font-style: normal;
  margin: 5px 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.petition-footer {
  margin-top: auto;
  background-color: #004712;
  color: white;
  text-align: left;
  padding: 10px 0;
}
