.th-topic-holder {
  background-color: #f0fff0;
  border-radius: 10px;
  padding: 5px 20px 20px 20px;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  box-sizing: border-box;
}

.th-status-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.th-status-buttons button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: black;
}

.th-status-buttons button.active {
  color: white;
  border-bottom: 2px solid #4caf50;
}

.th-topics-list {
  margin-bottom: 20px;
}

.th-pagination {
  text-align: center;
}

.th-pagination span {
  cursor: pointer;
}
