.top-nav-bar {
  background-color: #1f6032;
  padding: px 0;
}

.top-nav-title-container {
  background-color: #1f6032;
  padding: 20px 20px 20px 20px;
}

.top-nav-titletop {
  color: white;
  margin: 0;
  font-size: 24px;
}

.top-nav-nav-links {
  background-color: white;
  display: flex;
  justify-content: start;
  padding: 10px 20px;
}

.top-nav-nav-button {
  background-color: transparent;
  color: #1f6032;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  border-radius: 5px;
}

.top-nav-nav-button:active,
.top-nav-nav-button:focus {
  outline: none;
  background-color: #e6e6e6;
}

.top-nav-nav-button:hover {
  background-color: #f2f2f2;
}

main {
  padding: 20px;
}

.top-nav-nav-icons {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.top-nav-nav-icons img {
  margin-left: 10px;
  cursor: pointer;
}

.top-nav-active {
  background-color: white;
  color: #1f6032;
}
.top-nav-icon-container {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.top-nav-icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.top-nav-icon-button img {
  height: 24px;
}

.top-nav-nav-button.active {
  background-color: white;
  color: #1f6032;
}

.top-nav-title-container {
  background-color: #1f6032;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav-icons-container {
  display: flex;
}

.top-nav-icon {
  margin-left: 10px;
  cursor: pointer;
}
.top-nav-nav-button.active {
  background-color: white;
  color: #1f6032;
}
