.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.cer-main-login-holder {
  max-width: 500px;
  min-width: 400px;
  background-color: white;
  height: 80%;
  padding: 20px;
  margin-top: 40px;
}
.custom-button-link {
  text-decoration: none;
  display: block;
  width: 100%;
}

.custom-button {
  background-color: #006540;
  border: none;
  color: white;
  padding: 14px 0;
  text-align: center;
  //display: flex;
  line-height: 40px;
  justify-content: center;
  //align-items: center;
  //text-decoration: none;
  //display: block;
  //font-size: 16px;
  //margin: auto;
  //cursor: pointer;
  border-radius: 28px;
  transition: background 0.3s, box-shadow 0.3s;
  //max-width: 700px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
}

@media (max-width: 720px) {
  .custom-button {
    padding: 14px 20px;
    width: auto;
  }
}

.custom-button:hover {
  background-color: #45a049; /* Darker green background on hover */
  box-shadow: 2px 2px 5px #999; /* Shadow effect on hover */
}

/* Center the button container if it's not already centered */
.main-container {
  display: flex;
  justify-content: center; /* Aligns children (the button) horizontally center */
  align-items: center; /* Aligns children vertically center */
  height: 100vh; /* Full height of the viewport */
}

.card-image {
  align-self: center; /* Align image to the right */
  margin: 0px 0px 0px 70px; /* Keeps the image at the top */
  width: 100%; /* Adjust the width as needed */
  max-width: 200px; /* Adjust the maximum width as needed */
  height: auto; /* Keeps the aspect ratio of the image */
}
