.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.done-main-login-holder {
  max-width: 500px;
  min-width: 400px;
  background-color: white;
  height: 80%;
  padding: 20px;
  margin-top: 260px;
}
.custom-button-link {
  text-decoration: none;
  display: block;
  width: 100%;
}
.custom-button {
  background-color: #006540;
  border: none;
  color: white;
  padding: 14px 0;
  text-align: center;
  //display: flex;
  line-height: 40px;
  justify-content: center;
  border-radius: 28px;
  transition: background 0.3s, box-shadow 0.3s;

  height: 40px;
  line-height: 40px;
  font-size: 18px;
}

.custom-button:hover {
  background-color: #005133;
  box-shadow: 2px 2px 5px #999;
}

.check-image {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0px 0px 0px 0px;
  width: 100%;
  max-width: 200px;
  height: auto;
}
.centercenter {
  display: flex;
  justify-content: center;
}
.done-text {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0px 0px 0px 0px;
}

.done-text h1 {
  font-size: 30px;
}
