.fir-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150%;
}
.fir-main-login-holder {
  max-width: 500px;
  min-width: 400px;
  background-color: white;
  padding: 20px;
  height: 100%;
}

.fir-main-login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.megaphone-image {
  align-self: flex-end;
  margin-top: 0;
  width: 200px;
  height: auto;
}
.megaphone-image img {
  width: 250px;
}

.text-area h1 {
  text-align: left;
  margin: 0px 7px 7px 0px;
  font-size: 25px;
}

.text-area p {
  text-align: left;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button {
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  color: white;
  border-radius: 40px;
}

.primary {
  background-color: #006540;
  border: none;
}

.secondary {
  background-color: transparent;
  border: 2px solid #006540;
  color: #006540;
}
