.state-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.fade-in-image {
  opacity: 0; /* 초기 투명도 설정 */
  animation: fadeInAnimation 2s ease-in-out forwards; /* 애니메이션 적용 */
  width: 90%;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  } /* 시작 상태 */
  to {
    opacity: 1;
  } /* 종료 상태 */
}
